<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar mode="ios">
      <ion-title color="secondary">Páginas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="warning">
    <ion-button color="light" expand="block" routerLink="/home">Página Inicial</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="secondary" class="ion-text-center">Quais você já preparou?</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen="true" class="ion-padding">

    <ion-list mode="ios">   
      <ion-item-sliding *ngFor="let receita of receitas" color="warning">
        <ion-item (click)="actionFolha(receita)" class="ion-text-center ion-text-wrap">
          <ion-icon name="radio-button-off" *ngIf="!receita.status" class="ion-text-center"></ion-icon>
          <ion-label *ngIf="!receita.status"><strong>Receita: </strong>{{receita.receita}}</ion-label><br>
          
          <ion-icon name="checkmark-circle" color="success" *ngIf="receita.status" class="ion-text-center ion-text-wrap"></ion-icon><br>
          <ion-label *ngIf="receita.status"><del><strong>Receita: </strong>{{receita.receita}}</del></ion-label><br>
        </ion-item>
        
        <ion-item-options>
          <ion-item-option color="danger" (click)="deletarReceita(receita.id)"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
          <ion-item-option color="success" [routerLink]="['/form', receita.id]"><ion-icon name="create-outline"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-fab horizontal="end" vertical="bottom">
      <ion-fab-button (click)="mensagemAlert()" >
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
