<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar mode="ios">
      <ion-title color="secondary">Páginas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="warning">
    <ion-button color="light" expand="block" routerLink="/bolos">Receitas</ion-button>
    <ion-button color="light" expand="block" routerLink="/contato">Contato</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">MilCakes Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let comida of receitas" color="warning" class="ion-text-center" (click)="actionFolha(comida)">
    <ion-card-header>
      <ion-card-title>{{comida.receita}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{comida.ingrediente}}</ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="mensagemAlert()" >
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>